<section class="hero-2026">
    <div class="container hero-layout">
        <div class="hero-text">
            <span class="badge">Puerto Rico's Favorite</span>
            <h1>¿Mucha ropa y <br><span class="highlight">poco tiempo?</span></h1>
            <p>El servicio de laundry más moderno de la isla. Lavar nunca había sido tan fácil.</p>
            
        </div>
        
        <div class="hero-visual">
            <img src="assets/images/Drop-Off.png" alt="Laundry Service" class="hero-img">
            
            <div class="glass-card float-animation">
                <div class="text">
                    <strong>Listo en 24h</strong>
                    <span class="sub">Recogido y Entrega</span>
                </div>
            </div>
        </div>
    </div>
</section>