<nav class="nav-island" id="mainNav">
  <div class="nav-content">
    <a href="index.html" class="logo">Ciudad <span>LaundroMax</span></a>

    <ul class="nav-links desktop-only">
      <li class="dropdown">
        <a href="index.html#servicios" class="dropbtn">
          Servicios <i class="fa-solid fa-chevron-down"></i>
        </a>
        <div class="dropdown-content">
          <a href="index.html#servicios">Residencial / Individual</a>
          <a href="airbnb.html">Airbnb & Comercial</a>
          <a href="corporate.html">Corporativo</a>
        </div>
      </li>
      <li><a href="about.html">Sobre Nosotros</a></li>
      <li><a href="sucursales.html">Sucursales</a></li>
      <li><a href="empleos.html">Empleos</a></li>
      <li><a href="https://cleancloudapp.com/s3/8719#/" class="login-link">Log-In</a></li>
    </ul>

    <div class="nav-right">
      
      <button class="theme-toggle desktop-toggle" aria-label="Toggle Dark Mode">
        <i class="fa-regular fa-sun icon-sun"></i>
        <i class="fa-regular fa-moon icon-moon"></i>
      </button>

      <button class="hamburger" id="hamburgerBtn" type="button" aria-label="Open menu" aria-expanded="false">
        <i class="fa-solid fa-bars icon-open"></i>
        <i class="fa-solid fa-xmark icon-close"></i>
      </button>

    </div>
  </div>
</nav>

<div class="mobile-menu-overlay" id="mobileMenu">
  <div class="mobile-links-container">
    
    <div class="mobile-theme-container">
       <div class="theme-label-group">
          <i class="fa-solid fa-circle-half-stroke label-icon"></i>
          <span class="theme-label">Modo Oscuro</span>
       </div>
       
       <button class="theme-toggle mobile-toggle" aria-label="Toggle Dark Mode">
          <i class="fa-regular fa-sun icon-sun"></i>
          <i class="fa-regular fa-moon icon-moon"></i>
       </button>
    </div>

    <div class="divider"></div>

    <span class="mobile-label">Servicios</span>
    <a href="index.html#servicios" class="m-link">Residencial / Individual</a>
    <a href="airbnb.html" class="m-link">Airbnb & Comercial</a>
    <a href="corporate.html" class="m-link">Corporativo</a>
    
    <div class="divider"></div>
    
    <span class="mobile-label">Empresa</span>
    <a href="about.html" class="m-link">Sobre Nosotros</a>
    <a href="sucursales.html" class="m-link">Sucursales</a>
    <a href="empleos.html" class="m-link">Empleos</a>
    <a href="https://cleancloudapp.com/s3/8719#/" class="m-link highlight">Log-In</a>
  </div>
</div>