<section class="reviews-section">
    <div class="container">
        <div class="reviews-header">
            <h2 class="section-title">Lo que dicen nuestros clientes</h2>
            
            <div class="google-badge">
                <span class="g-icon">G</span>
                <span class="rating">4.8</span>
                <div class="stars">★★★★★</div>
                <a href="https://www.google.com/search?sca_esv=ae1e161c6b0f2947&sxsrf=ANbL-n6PL7bz_EOKEEeFDkSoDQB2LzCJbA:1769721796734&si=AL3DRZEsmMGCryMMFSHJ3StBhOdZ2-6yYkXd_doETEE1OR-qOUUpAKbdyew93NeawB-XgO9GDUDLLmRO3j64Zdwm4nUXdkNP7K8Y6VaUOQpf_ssJVy_KWM49mLWa1R28jF1sgsPdjj7rO-pqzWlqLnXMQXyvCh_WUw%3D%3D&q=Ciudad+LaundroMax+Reviews&sa=X&ved=2ahUKEwjfua6417GSAxWcmGoFHQ8sIxgQ0bkNegQIMhAH&biw=958&bih=1030&dpr=1.5&aic=0" target="_blank" class="count">Ver en Google Reviews</a>
            </div>
        </div>

        <div class="reviews-grid" id="reviews-container"></div>
    </div>
</section>